/* CurrencyCalculator.css */

.CurrencyCalculator {
    background-color: #282c34;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 320px;
    text-align: center;
    margin: 40px auto;
  }
  
  h1 {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  select {
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 20px;
    color: white;
  }
  
  span {
    font-size: 18px;
    color: #666;
  }
  
  @media (max-width: 768px) {
    .CurrencyCalculator {
      width: 90%;
    }
  }
  