#info-container {
    padding: 20px;
    text-align: center;
}

/* Flexbox for the boxes */
#boxes-container {
    display: flex;
    justify-content: space-between; /* Space out the boxes evenly */
    margin-top: 20px;
    gap: 20px; /* Add spacing between the boxes */
}

/* Individual box styling */
.info-box {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    width: 45%;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.info-box p {
    font-size: 18px;
    margin-bottom: 10px;
}

.info-box label {
    display: block; /* Make sure labels stack on top of each other */
    margin-bottom: 5px;
}

.info-box input,
.info-box select {
    width: 100%; /* Make inputs and selects fill the width of the box */
    margin-bottom: 10px; /* Space out the inputs and selects */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.info-box button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; /* Make the button fill the width of the box */
    border-radius: 4px;
}

.info-box button:hover {
    background-color: #0056b3;
}

.radio-container {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.radio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.radio-item:last-child {
    margin-right: 0;
}

.radio-item label {
    margin-top: 5px;
}

.essential-label {
    text-align: left;
}

/* Combo Box */
.transaction-dropdown {
    margin-bottom: 20px;
}

.transaction-dropdown label {
    margin-bottom: 5px;
    font-size: 16px;
}

.transaction-dropdown select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 50%;
}
