/* 

  This will be used later so the Navbar will show up in every page 
  (as of now it only works in the welcome page)
  
*/

/* Navbar container */
#navbar {
    display: flex;
    justify-content: left;
    background-color: #333;
    padding: 14px;
  }
  
  /* Navbar buttons */
  #navbar button {
    color: #f2f2f2;
    background: none;
    border: none;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Button hover effect */
  #navbar button:hover {
    background-color: #555;
  }