/* Container for the login/register pages */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* You might want to change this if it's too tall */
    font-family: Arial, sans-serif;

}

/* Adjust form container */
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Align items to the start */
    height: auto;
    /* Change to auto to fit content */
    padding: 20px;
    /* Add padding for spacing */
    margin-top: 20px;
    /* Space below navbar */
}

/* Box behind the login form */
.login-box {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    /* Space below the box */
}

/* Form box above the background */
.form-box {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
    text-align: center;
}

/* Style for the h3 heading */
h3 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Form input styles */
.form-group {
    margin-bottom: 20px;
    /* Space between input fields */
}

/* Input fields styles */
input[type=email],
input[type=password],
input[type=text] {
    width: 80%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
    /* Space between fields */
}

/* Button styles */
button {
    background-color: #59449e;
    color: white;
    padding: 14px 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    width: 60%;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}