/* Main content container */
.content-container {
  display: flex;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  padding-top: 50px;
}

/* Graphs container */
.graphs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* Responsive columns */
  gap: 20px;
  width: 100%;
  /* Use full width */
  max-width: 1000px;
  /* Max width to prevent overflow */
  padding: 20px;
  margin: auto;
  /* Center it within the parent */
}

/* Responsive styles */
@media (max-width: 768px) {
  .graphs-container {
    grid-template-columns: 1fr;
    /* Stack all items in a single column */
    grid-template-rows: auto;
    /* Allow rows to size automatically */
  }
}

/* Individual graph styling */
.graph {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  font-size: 18px;
  height: auto;
  /* Allow height to adjust based on content */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

/* Graph title styling */
.graph-title {
  margin: 0;
  font-size: 1.2rem;
  /* Change to rem for responsiveness */
  position: absolute;
  top: 10px;
  left: 10px;
}

.label-style {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}